body{
  font-family: $main-font-family,  'sans-serif';
  color: $main-font-color;
  font-size: $font-md;
  font-weight: $font-regular;
  position: relative;
  line-height: 1.2;
}

.container{
  max-width: $container-width;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-column{
  flex-direction: column;
}
.d-flex {
  display: flex;
}

.justify-content-centre {
  justify-content: center;
}

.align-items-centre {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

a {
  text-decoration: none;
  @extend %default-transition;
  display: inline-block;

  &.default:hover {
    color: $accent-color;
  }

  &.blue {
    color: $accent-color;

    &:hover {
      color: $additional2-font-color;
    }
  }
}

.btn{
  padding: 14px 61px;
  border: 2px solid $accent-color;
  color: $additional-font-color;
  background-color: $accent-color;
  border-radius: $default-boarder-radius $big-boarder-radius;

  &:hover{
    background-color: transparent;
    border-color: $additional-font-color;
  }

}