@use './../../common/mixins' as mix;
@use './../../common/variables' as var;
//@use './../../common/extends' as ext;

.main {

  &__first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

}

h1 {
  color: var.$additional2-font-color;
}

