@use './../../common/mixins' as mix;
@use './../../common/variables' as var;
//@use './../../common/extends' as *;

.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #646466;
  font-family: Poppins, "sans-serif";

  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    p {
      color: rgba(243, 243, 249, 0.76);
      font-weight: var.$font-light;
    }
  }

  &__right {
    width: 50%;
    display: flex;
    row-gap: 20px;
    flex-direction: column;

    p {
      color: rgba(243, 243, 249, 0.76);
      font-weight: var.$font-light;
    }
  }
&__inter{
  display: flex;
  justify-content: right;
  gap: 35px;
}
  &__email {
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 10px;

    a {
      color: var.$accent-color;
    }
  }
}