@use './../../common/mixins' as mix;
@use './../../common/variables' as var;
//@use './../../common/extends' as *;
.general {

  @media (max-width: var.$br2) {
      max-width: 767px;
    display: flex;
    &__menu{
      gap: 30px;
      display: flex;
      flex-direction: column;
    }
    }
  }
