@use './../../common/mixins' as mix;
@use './../../common/variables' as var;
//@use './../../common/extends' as *;
.main{

  @media (max-width: var.$br2) {
    max-width: 767px;
    display: flex;
    &__first {
      align-items: center;
    }
  }
}


