@use './../common/mixins' as mix;
@use './../common/variables' as var;
//@use './../common/extends' as ext;

body {
  font-family: var.$main-font-family, 'sans-serif';
  color: var.$main-font-color;
  font-size: var.$font-md;
  font-weight: var.$font-regular;
  position: relative;
  line-height: 1.2;
}

.default.black-text{
  &.default:hover {
    color: $accent-color;
  }
    &:last-child{
      color: var.$additional2-font-color;

  }
}
.header.pos-absolut {
  position: unset;
  padding: 24px 0;
  width: 100%;
  max-height: 85px;
}

body.background {
  background-color: var.$capital-background-color;
}

.container {
  max-width: var.$container-width;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-column {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.justify-content-centre {
  justify-content: center;
}

.align-items-centre {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

@media (max-width: var.$container-width) {
  .container {
    max-width: 767px;
  }
}

h1 {
  font-size: var.$font-xxl;
  font-weight: var.$font-medium;
}

.btn {
  padding: 14px 61px;
  border: 2px solid var.$accent-color;
  color: var.$additional-font-color;
  background-color: var.$accent-color;
  border-radius: var.$default-boarder-radius $big-boarder-radius;

}

.btn-policy {
  &:hover {
    background-color: royalblue;
  }
}

.btn-banner {
  &:hover {
    background-color: transparent;
    border-color: var.$additional-font-color;
  }
}


.btn-capital {
  &:hover {
    background-color: var.$main-font-color;
    border-color: var.$additional-font-color;
  }
}

a {
  text-decoration: none;
  @extend %default-transition;
  display: inline-block;

  &.default:hover {
    color: var.$capital-background-color;
  }

  &.blue {
    color: var.$accent-color;

    &:hover {
      color: var.$additional2-font-color;
    }
  }
}

.colorsize {
  background-color: #6ad25d;
}

.btn__smSmall {
  font-size: 42px;
  padding: 5px 10px;
}

button {
  @extend %default-transition;
}


