$main-font-color: rgba(0, 0, 0, 0.70);
$additional-font-color: #ffffff;
$additional2-font-color:#000;
$purple-capital: purple;
$capital-background-color: white;

$accent-color: #2eacf3;

$main-background-color: #f3f3f9;
$main-font-family: Poppins;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 18px;
$font-custom: 16px;
$font-lg: 22px;
$font-xl: 45px;
$font-xxl: 70px;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$container-width: 1200px;

$default-boarder-radius: 5px;
$big-boarder-radius: 27px;

$header-height: 85px;

$general-gap: 20px;

$general-break-point:767px;

$full-hd: 1920px;
$hd:1280px;
$br1:992px;
$br2:767px;
$br3:556px;
$br4:480px;
$br5:320px;
