@use './../../common/mixins' as mix;
@use './../../common/variables' as var;
//@use './../../common/extends' as ext;

.capital {
  font-family: var.$main-font-family, 'sans-serif';
  background-color: #f3f3f9;
  padding-bottom: 80px;

  h1 {
    font-size: 45px;
    color: #000;
    font-weight: 500;
    padding-top: 60px;
  }

  p {
    font-size: var.$font-md;
  }

  &__menu {
    gap: 60px;
  }

  &__primary {
    gap: 2.5em;
  }

  &__select {
    gap: 30px;
    justify-content: right;

    p {
      width: 480px;

      a {
        color: var.$accent-color;

        &:hover {
          color: var.$additional2-font-color;
        }
      }
    }
  }

  &__ready {
    @extend %card-capital
  }

  .blue {
    color: var.$accent-color;
    font-size: var.$font-lg;
    font-weight: var.$font-bold;

    a {
      color: var.$additional2-font-color;


      &:hover {
        color: var.$accent-color;
      }
    }
  }

  .purple {
    color: var.$purple-capital;
    font-size: var.$font-lg;
    font-weight: var.$font-bold;

    a {
      color: var.$additional2-font-color;

      &:hover {
        color: var.$accent-color;
      }
    }
  }

  &__services {
    align-items: start;

    img {
      width: 66px;
      height: 66px;
    }
  }

  .card {
    position: relative;
  }

  .seven {
    position: absolute;
    width: 30px;
    height: 34px;
  }
}
